#container1, #container,#container2, #render,#render1,#dataset,#roomscheduling,#novelfunction,#chart-container{
    width:80%;
    margin:auto;
    margin-top:10px;
    border-style:solid;
    padding:10px;

}

#googlemap{
    height: 100%;
}

#headtitle
{
    text-align: center;
    color:darkcyan;
  size:50px;

}
#container1, #container,#container2,#roomscheduling,#render,#novelfunction,#chart-container,#dataset,#render1{
    background-color: lightblue;
}

th {
    text-align: left;
}

th, td {
    padding: 0 1em 0.5ex 0;
    border-style:solid;
    padding:10px;
}

th.center, td.center {
    text-align: center;
}

th.num, td.num {
    text-align: right;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}




/*
.btn{

    background-color:bisque;

}
*/
/*
#sectionsize,#buildingname,#coursenumber,#department,#furnituretype,#instructor,#roomtype,#title,#roomsize,#roomnumber
,#location{
    background-color: lightskyblue;
}
*/