<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="./public/bootstrap.min.css">
	<link rel="stylesheet" href="./public/main.css">
	<script src="./public/jquery.min.js"></script>
	<script src="./public/bootstrap.min.js"></script>
	<script src="./public/d3.min.js"></script>
	<script type="text/javascript" src="../public/fusioncharts.js"></script>
		<script type="text/javascript" src="../public/fusioncharts-jquery-plugin.js"></script>

	    <script type="text/javascript" src="http://static.fusioncharts.com/code/latest/fusioncharts.charts.js?cacheBust=8232"></script>
	    <!-- <script type="text/javascript" src="js/fusioncharts.jqueryplugin.js"></script> -->

	    <script type="text/javascript" src="http://static.fusioncharts.com/code/latest/themes/fusioncharts.theme.zune.js?cacheBust=8232"></script>
	<script src="./public/main.js"></script>
	<script type="text/javascript">


		function returndepartmentdata(){
			console.log("jump to return")
			var query=JSON.stringify({
				"GET":"courses_dept",
				"WHERE":{},
				"GROUP":["courses_dept"],
				"APPLY":[],
				"ORDER":"courses_dept",
				"AS":"TABLE"
			})
            return $.ajax("/query", {type:"POST",
				data: query, contentType: "application/json", dataType: "json"
			}
			);
		}
		function returnbuildingnamedata(){
			console.log("jump to return")
			var query=JSON.stringify({
				"GET":"rooms_shortname",
				"WHERE":{},
				"GROUP":["rooms_shortname"],
				"APPLY":[],
				"ORDER":"rooms_shortname",
				"AS":"TABLE"
			})
			return $.ajax("/query", {type:"POST",
						data: query, contentType: "application/json", dataType: "json"
					}
			);
		}
		function returnroomtypedata1(){
			console.log("jump to return")
			var query=JSON.stringify({
				"GET":"rooms_type",
				"WHERE":{},
				"GROUP":["rooms_type"],
				"APPLY":[],
				"ORDER":"rooms_type",
				"AS":"TABLE"
			})
			return $.ajax("/query", {type:"POST",
						data: query, contentType: "application/json", dataType: "json"
					}
			);
		}
		function returnfurnituretypedata1(){
			console.log("jump to return")
			var query=JSON.stringify({
				"GET":"rooms_furniture",
				"WHERE":{},
				"GROUP":["rooms_furniture"],
				"APPLY":[],
				"ORDER":"rooms_furniture",
				"AS":"TABLE"
			})
			return $.ajax("/query", {type:"POST",
						data: query, contentType: "application/json", dataType: "json"
					}
			);
		}
		function dropdownbuildingfunction(data)
		{
			//console.log(jsonData.Table)
			var jsonData={};
			jsonData.Table=[]
			jsonData.Table=data["result"]
			console.log(jsonData.Table)
			var listItems = '<option selected="selected" value=" ">- Select -</option>';

			for (var i = 0; i < jsonData.Table.length; i++) {
				listItems += "<option value='" + jsonData.Table[i].rooms_shortname+ "'>" + jsonData.Table[i].rooms_shortname + "</option>";
			}

			$("#buildingname").html(listItems)
			$("#buildingname1").html(listItems)
			$("#buildingname5").html(listItems)
			$("#buildingname3").html(listItems)
			$("#buildingname4").html(listItems)
			$("#buildingchart").html(listItems)

		}

		function dropdowndeptfunction(data)
		{
			//console.log(jsonData.Table)
			var jsonData={};
			jsonData.Table=[]
			jsonData.Table=data["result"]
			console.log(jsonData.Table)
			var listItems = '<option selected="selected" value=" ">- Select -</option>';

			for (var i = 0; i < jsonData.Table.length; i++) {
				listItems += "<option value='" + jsonData.Table[i].courses_dept + "'>" + jsonData.Table[i].courses_dept + "</option>";
			}

			$("#department").html(listItems)
			$("#department1").html(listItems)
			$("#coursedept1").html(listItems)
			$("#departmentchart").html(listItems)
			$("#departmentchart1").html(listItems)
		}
		function dropdownroomtypefunction1(data)
		{
			//console.log(jsonData.Table)
			var jsonData={};
			jsonData.Table=[]
			jsonData.Table=data["result"]
			console.log(jsonData.Table)
			var listItems = '<option selected="selected" value=" ">- Select -</option>';

			for (var i = 0; i < jsonData.Table.length; i++) {
				listItems += "<option value='" + jsonData.Table[i].rooms_type+ "'>" + jsonData.Table[i].rooms_type + "</option>";
			}
			$("#roomtype").html(listItems)

		}
		function dropdownroomfurniturefunction1(data)
		{
			//console.log(jsonData.Table)
			var jsonData={};
			jsonData.Table=[]
			jsonData.Table=data["result"]
			console.log(jsonData.Table)
			var listItems = '<option selected="selected" value=" ">- Select -</option>';

			for (var i = 0; i < jsonData.Table.length; i++) {
				listItems += "<option value='" + jsonData.Table[i].rooms_furniture+ "'>" + jsonData.Table[i].rooms_furniture + "</option>";
			}
			$("#furnituretype").html(listItems)

		}


		$.when(returndepartmentdata()).then
		(dropdowndeptfunction)
		$.when(returnbuildingnamedata()).then
		(dropdownbuildingfunction)
		$.when(returnroomtypedata1()).
		then(dropdownroomtypefunction1)
		$.when(returnfurnituretypedata1()).then
		(dropdownroomfurniturefunction1)

		</script>

	<script type="text/javascript">

		$(document).ready(function() {
			$("#department").change(function(){
				var department=$("#department").val()
			//    var instructor=$("#instructor").val()

				$.when(returncoursenumberdata(department)).then
				(dropdowncoursenumberfunction)

			$.when( returninstructordata(department)).then
			(dropdowninstructorfunction)
			});
		});

		function returncoursenumberdata(department){
			console.log("jump to return")
			var query=JSON.stringify({
				"GET":"courses_id",
				"WHERE":{"IS":{"courses_dept":department}},
				"GROUP":["courses_id"],
				"APPLY":[],
				"ORDER":"courses_id",
				"AS":"TABLE"
			})
			return $.ajax("/query", {type:"POST",
						data: query, contentType: "application/json", dataType: "json"
					}
			);
		}

		function returninstructordata(department){
			console.log("jump to return")
			var query=JSON.stringify({
				"GET":"courses_instructor",
				"WHERE":{"IS":{"courses_dept":department}},
				"GROUP":["courses_instructor"],
				"APPLY":[],
				"ORDER":"courses_instructor",
				"AS":"TABLE"
			})
			return $.ajax("/query", {type:"POST",
						data: query, contentType: "application/json", dataType: "json"
					}
			);
		}
		function dropdowncoursenumberfunction(data) {
			//console.log(jsonData.Table)
			var jsonData = {};
			jsonData.Table = []
			jsonData.Table = data["result"]
			console.log(jsonData.Table)
			var listItems = '<option selected="selected" value=" ">- Select -</option>';

			for (var i = 0; i < jsonData.Table.length; i++) {
				listItems += "<option value='" + jsonData.Table[i].courses_id + "'>" + jsonData.Table[i].courses_id + "</option>";
			}
			console.log("listitem"+listItems)
          console.log("whathappenshere")
			$("#coursenumber").html(listItems)

		}

		function dropdowninstructorfunction(data)
		{
			//console.log(jsonData.Table)
			var jsonData={};
			jsonData.Table=[]
			jsonData.Table=data["result"]
			console.log(jsonData.Table)
			var listItems = '<option selected="selected" value=" ">- Select -</option>';

			for (var i = 0; i < jsonData.Table.length; i++)
			{
				listItems += "<option value='" + jsonData.Table[i].courses_instructor + "'>" + jsonData.Table[i].courses_instructor  + "</option>";
			}
			$("#instructor").html(listItems)


		}




	</script>
	<script type="text/javascript">

		$(document).ready(function() {
			$("#departmentchart").change(function(){
				var department=$("#departmentchart").val()

				$.when(returncoursenumberdata1(department)).then
				(dropdowncoursenumberfunction1)

			});
		});

		function returncoursenumberdata1(department){
			console.log("jump to return")
			var query=JSON.stringify({
				"GET":"courses_name",
				"WHERE":{"IS":{"courses_dept":department}},
				"GROUP":["courses_name"],
				"APPLY":[],
				"ORDER":"courses_name",
				"AS":"TABLE"
			})
			return $.ajax("/query", {type:"POST",
						data: query, contentType: "application/json", dataType: "json"
					}
			);
		}
		function dropdowncoursenumberfunction1(data)
		{
			//console.log(jsonData.Table)
			var jsonData={};
			jsonData.Table=[]
			jsonData.Table=data["result"]
			console.log(jsonData.Table)
			var listItems = '<option selected="selected" value=" ">- Select -</option>';

			for (var i = 0; i < jsonData.Table.length; i++) {
				listItems += "<option value='" + jsonData.Table[i].courses_name + "'>" + jsonData.Table[i].courses_name  + "</option>";
			}
			$("#coursechart").html(listItems)


		}

	</script>
	<script type="text/javascript">

	$(document).ready(function() {
		$("#department1").change(function(){
			var department=$("#department1").val()

			$.when(returntitledata(department)).then
			(dropdowntitlefunction)

		});
	});

	function returntitledata(department){
		console.log("jump to return")
		var query=JSON.stringify({
			"GET":"courses_title",
			"WHERE":{"IS":{"courses_dept":department}},
			"GROUP":["courses_title"],
			"APPLY":[],
			"ORDER":"courses_title",
			"AS":"TABLE"
		})
		return $.ajax("/query", {type:"POST",
					data: query, contentType: "application/json", dataType: "json"
				}
		);
	}
	function dropdowntitlefunction(data)
	{

		var jsonData={};
		jsonData.Table=[]
		jsonData.Table=data["result"]
		console.log(jsonData.Table)
		var listItems = '<option selected="selected" value=" ">- Select -</option>';

		for (var i = 0; i < jsonData.Table.length; i++) {
			listItems += "<option value='" + jsonData.Table[i].courses_title + "'>" + jsonData.Table[i].courses_title  + "</option>";
		}
		$("#title").html(listItems)


	}





	</script >
	<script type="text/javascript">
		$(document).ready(function() {
			$("#buildingname").change(function(){
				var building=$("#buildingname").val()

				$.when(returnumberedata(building)).then
				(dropdownnumberfunction)
				$.when(returnroomtypedata(building)).
				then(dropdownroomtypefunction)
				$.when(returnfurnituretypedata(building)).then
					(dropdownroomfurniturefunction)

			});
		});

		function returnumberedata(building){
			console.log("jump to return")
			var query=JSON.stringify({
				"GET":"rooms_number",
				"WHERE":{"IS":{"rooms_shortname":building}},
				"GROUP":["rooms_number"],
				"APPLY":[],
				"ORDER":"rooms_number",
				"AS":"TABLE"
			})
			return $.ajax("/query", {type:"POST",
						data: query, contentType: "application/json", dataType: "json"
					}
			);
		}
		function returnroomtypedata(building){
			console.log("jump to return")
			var query;
			if(building!=" ")
			{ query=JSON.stringify({
				"GET":"rooms_type",
				"WHERE":{"IS":{"rooms_shortname":building}},
				"GROUP":["rooms_type"],
				"APPLY":[],
				"ORDER":"rooms_type",
				"AS":"TABLE"
			})}
			else
			{ query=JSON.stringify({
				"GET":"rooms_type",
				"WHERE":{},
				"GROUP":["rooms_type"],
				"APPLY":[],
				"ORDER":"rooms_type",
				"AS":"TABLE"
			})}
			return $.ajax("/query", {type:"POST",
						data: query, contentType: "application/json", dataType: "json"
					}
			);
		}
		function returnfurnituretypedata(building){
			console.log("jump to return")
			var query
			if(building!=" ")
			{ query=JSON.stringify({
				"GET":"rooms_furniture",
				"WHERE":{"IS":{"rooms_shortname":building}},
				"GROUP":["rooms_furniture"],
				"APPLY":[],
				"ORDER":"rooms_furniture",
				"AS":"TABLE"
			})}
			else
			{ query=JSON.stringify({
				"GET":"rooms_furniture",
				"WHERE":{},
				"GROUP":["rooms_furniture"],
				"APPLY":[],
				"ORDER":"rooms_furniture",
				"AS":"TABLE"
			})}
			return $.ajax("/query", {type:"POST",
						data: query, contentType: "application/json", dataType: "json"
					}
			);
		}


		function dropdownnumberfunction(data)
		{
			//console.log(jsonData.Table)
			var jsonData={};
			jsonData.Table=[]
			jsonData.Table=data["result"]
			console.log(jsonData.Table)
			var listItems = '<option selected="selected" value=" ">- Select -</option>';

			for (var i = 0; i < jsonData.Table.length; i++) {
				listItems += "<option value='" + jsonData.Table[i].rooms_number + "'>" + jsonData.Table[i].rooms_number  + "</option>";
			}
			$("#roomnumber").html(listItems)


		}
		function dropdownroomtypefunction(data)
		{
			//console.log(jsonData.Table)
			var jsonData={};
			jsonData.Table=[]
			jsonData.Table=data["result"]
			console.log(jsonData.Table)
			var listItems = '<option selected="selected" value=" ">- Select -</option>';

			for (var i = 0; i < jsonData.Table.length; i++) {
				listItems += "<option value='" + jsonData.Table[i].rooms_type+ "'>" + jsonData.Table[i].rooms_type + "</option>";
			}
			$("#roomtype").html(listItems)

		}
		function dropdownroomfurniturefunction(data)
		{
			//console.log(jsonData.Table)
			var jsonData={};
			jsonData.Table=[]
			jsonData.Table=data["result"]
			console.log(jsonData.Table)
			var listItems = '<option selected="selected" value=" ">- Select -</option>';

			for (var i = 0; i < jsonData.Table.length; i++) {
				listItems += "<option value='" + jsonData.Table[i].rooms_furniture+ "'>" + jsonData.Table[i].rooms_furniture + "</option>";
			}
			$("#furnituretype").html(listItems)

		}



	</script>
	<title>
	UBC Insight
	</title>
</head>
<html>
<body>
<header id="headtitle" size="50px"> UBC Insight</header>
<div id="dataset">
	<div class="form-group">
		<h3>Dataset</h3>
		<label for="datasetId">ID:</label>
		<input type="text" class="form-control" id="datasetId">
		<label for="datasetZip">Archive:</label>
		<input type="file" class="form-control" id="datasetZip">
	</div>
	<button type="button" class="btn btn-primary" id="datasetAdd">Add Dataset</button>
	<button type="button" class="btn btn-primary" id="datasetRm">Remove Dataset</button>
</div>

<div id="container">
	<h3>Courses Explorer</h3>
	<form id="sectionexplorer">
		<label> section explorer</label>
		<div class="form-group">
			<label for="department">Department:</label>
			<select id="department"></select><br>
			<label for="coursenumber">Course number:</label>
			<select id="coursenumber"></select><br>
		<!--	<textarea class="form-control" rows="1" id="coursenumber"></textarea>  !-->
			<label for="instructor">Instructor:</label>
		<select id="instructor"></select> <br>
		<!--	<textarea class="form-control" rows="1" id="instructor"></textarea>   !-->
			<label>Section Filter</label>
			<input type="checkbox" name="getsection" value= "courses_dept" > Department</input>
			<input type="checkbox" name="getsection" value="courses_instructor" >Instructor </input>
			<input type="checkbox" name="getsection" value="courses_id" > Course Number</input>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
	</form>
   <form id="courseexplore">
	<label> course explorer</label>
	<div class="form-group">
		<label for="department1">Department:</label>
		<select id="department1"></select><br>
		<label for="title">Title:</label><br>
		<select id="title"></select><br>
		<div class="form-group">
			<label>Choosing Compare Key</label>
			<input type="checkbox" name="getcoursebydept" value="courses_pass" > Courses Pass</input>
			<input type="checkbox" name="getcoursebydept" value="courses_fail" > Courses Failing</input>
			<input type="checkbox" name="getcoursebydept" value="courses_avg" > Courses avg</input>
		</div>
	<label for="sectionsize">Section size:</label>
			<select id="sectionsizecompare">
				<option value="GT"> > </option>
				<option  value="EQ" > = </option>
				<option  value="LT" > < </option>
			</select>    <br>
			<textarea class="form-control" rows="1" id="sectionsize"></textarea>

		</div>
        <div class="form-group">
            <!--  order    多选 !-->
            <label >Compare direction:</label>
            <select id="direction0">
                <option value="UP"> UP </option>
                <option value="DOWN"> DOWN </option>
            </select>    <br>
        </div>
		<div class="form-group">
            <label>Course Filter</label>
            <input type="checkbox" name="getcourse" value= "courses_dept" > Department</input>
            <input type="checkbox" name="getcourse" value="courses_title" > Title</input>
            <input type="checkbox" name="getcourse" value="courses_size" > Section Size </input><br>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

<div id="container1">
	<h3>Rooms Explorer</h3>
	<form id="queryForm1">
		<!--  filter !-->
		<div class="form-group">
			<label for="buildingname">Building Name:</label>
			<select id="buildingname"></select><br>
		<!--
				<textarea class="form-control" rows="1" id="buildingname"></textarea>
				!-->
			<label for="roomnumber">Room Number:</label>
			<select id="roomnumber"></select><br>

			<label for="roomtype">Room Type:</label>
			<select id="roomtype"></select><br>

			<label for="furnituretype">Furniture type:</label>
			<select id="furnituretype"></select><br>
			<label for="roomsize">Room Size:</label>
			<select id="roomsizecompare">
				<option value="GT" > > </option>
				<option value="EQ"> = </option>
				<option value="LT"> < </option>
			</select>    <br>
			<textarea class="form-control" rows="1" id="roomsize"></textarea>
			<h4>Location:</h4>
			<label for="buildingname1"> building name</label>
			<select id="buildingname1"></select><br>
			<!--
			<textarea class="form-control" rows="1" id="buildingname1"></textarea>
			!-->
			<label for="roomdistance"> distance (meters)</label>
			<textarea class="form-control" rows="1" id="roomdistance"></textarea>

		</div>

		<div class="form-group">
			<!--  order    多选 !-->
			<label >Compare direction:</label>
			<select id="direction1">
				<option> UP </option>
				<option> DOWN </option>
			</select>    <br>
			<!--  order    多选 !-->

		</div>

		<div class="form-group">
			<label>Choosing Filter</label>
			<input type="checkbox" name="getroomfilter" value= "rooms_shortname" > Building Name</input><br>
			<input type="checkbox" name="getroomfilter" value="rooms_seats" > Room Size </input>
			<input type="checkbox" name="getroomfilter" value="rooms_type" > Room type </input>
			<input type="checkbox" name="getroomfilter" value="rooms_furniture" > Furniture Type </input>
			<input type="checkbox" name="getroomfilter" value="roomsdistance" > Distance</input>
		</div>


		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

<div id="roomscheduling">
<h3> Room Scheduling</h3>
<form id="schedulingformbylist">
	<label>typing list of input</label>
	<label> Room List</label>
	<textarea class="form-control" rows="1" id="roomlist" > </textarea>
	<label> Course List</label>
	<textarea class="form-control" rows="1" id="courselist"> </textarea>
	<button type="submit" class="btn btn-primary">Submit</button>
	</form>

	<form id="schedulingformbykeys">
		<label>filter by keyword</label><br>
		<label> department</label>
		<textarea class="form-control" rows="1" id="coursedept" > </textarea>
		<label> building name</label>
		<textarea class="form-control" rows="1" id="buildingname2" > </textarea>
		<h4>Location:</h4>
		<label for="buildingname4"> building name</label>
		<select id="buildingname4"></select><br>
		<label for="roomdistance1"> distance (meters)</label>
		<textarea class="form-control" rows="1" id="roomdistance1"></textarea>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>


	<form id="schedulingformbykey">
	<label>filter by single keyword</label><br>
	<label> department</label>
	<select id="coursedept1"></select><br>
	<label> building name</label>
	<select id="buildingname3"></select><br>
		<h4>Location:</h4>
		<label for="buildingname5"> building name</label>
		<select id="buildingname5"></select><br>
		<label for="roomdistance2"> distance(meters)</label>
		<textarea class="form-control" rows="1" id="roomdistance2"></textarea>
	<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>




<div id="novelfunction">
	<h3> render charts for useful data</h3>
	<form id="datagathering1">
		<h4> Department Info</h4>
		<label> choose department</label><br>
		<select id="departmentchart1"></select><br>
		<select id="coursechooses">
			<option  value="course" >group by course</option>
			<option  value="instructor"> group by instructor  </option>
		</select><br>
		<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	<form id="datagathering3">
		<label> choose department</label><br>
		<select id="departmentchart"></select><br>
		<label> choose course(coursename)</label><br>
    <select id="coursechart"></select><br>
		<button type="submit" class="btn btn-primary">Submit</button>
</form>
<form id="datagathering2">
		<h4> Room Info</h4>
		<label> choose builing</label><br>
		<select id="buildingchart"></select><br>

		<select id="typechooses">
			<option  value="roomtype" >show room type</option>
			<option  value="roomfurniture"> show furniture type  </option>
		</select><br>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

<div id="render">
	<h3>Result</h3>
</div>
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<p></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div id="chart-container">
	render chart here
	</div>




</body>
</html>
